.wptypescript-testimonial-image-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}
